openapi: 3.2.0
info:
  title: Keap Campaign API
  contact:
    name: Keap
    url: https://developer.keap.com/get-support
    email: api.keap@thryv.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://www.thryv.com/terms-of-use
  version: '1.0'
  description: 'Operations tagged Campaign across 2 of this provider''s published API definitions: keap-v1-openapi.json, keap-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.infusionsoft.com/crm
security:
- oauth2: []
tags:
- name: Campaign
  description: Campaigns-Endpoint
paths:
  /rest/v1/campaigns/{campaignId}/sequences/{sequenceId}/contacts/{contactId}:
    post:
      tags:
      - Campaign
      summary: Add to Campaign Sequence
      description: Adds a single contact to a campaign sequence
      operationId: addContactToCampaignSequence
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '204':
          description: No Content
    delete:
      tags:
      - Campaign
      summary: Remove from Campaign Sequence
      description: Removes a single contact from a campaign sequence
      operationId: removeContactFromCampaignSequence
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '204':
          description: No Content
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v1/campaigns/{campaignId}/sequences/{sequenceId}/contacts:
    post:
      tags:
      - Campaign
      summary: Add Multiple to Campaign Sequence
      description: 'Adds a list of contacts to a campaign sequence

        Response contains a map of the provided list of Contact Ids related to their individual result.'
      operationId: addContactsToCampaignSequence
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOfIds'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                  enum:
                  - SUCCESS
                  - ALREADY_IN_SEQUENCE
                  - CONTACT_DOES_NOT_EXIST
                  - FAILED
    delete:
      tags:
      - Campaign
      summary: Remove Multiple from Campaign Sequence
      description: Removes a list of contacts from a campaign sequence
      operationId: removeContactsFromCampaignSequence
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOfIds'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '204':
          description: No Content
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v1/campaigns/goals/{integration}/{callName}:
    post:
      tags:
      - Campaign
      summary: Achieve API Goal
      description: Achieves API goal for campaigns with matching integration, callName for a given contactId
      operationId: createAchieveApiGoalEvent
      parameters:
      - name: integration
        in: path
        required: true
        schema:
          type: string
      - name: callName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchieveApiGoalEvent'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoalEventResultDTO'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v1/campaigns/{campaignId}:
    get:
      tags:
      - Campaign
      summary: Retrieve a Campaign
      description: Retrieves a single campaign
      operationId: getCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: optional_properties
        in: query
        description: Comma-delimited list of Campaign properties to include in the response. (The fields `goals` and `sequences` aren't included, by default.)
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignWithStats'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v1/campaigns:
    get:
      tags:
      - Campaign
      summary: List Campaigns
      description: Retrieves all campaigns for the authenticated user
      operationId: listCampaigns
      parameters:
      - name: restQueryCommand
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/CampaignQueryCommand'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignList'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v2/campaigns/{campaign_id}/sequences/{sequence_id}:removeContacts:
    post:
      tags:
      - Campaign
      summary: Remove Contacts from Campaign Sequence
      description: 'Removes a list of contacts from a campaign sequence

        Response contains a map of the provided list of Contact Ids related to their individual result.'
      operationId: removeContactsFromCampaignSequence
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: sequence_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveContactsFromSequenceRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveContactsFromSequenceResponse'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v2/campaigns/{campaign_id}/sequences/{sequence_id}:addContacts:
    post:
      tags:
      - Campaign
      summary: Add Contacts to Campaign Sequence
      description: 'Adds a list of contacts to a campaign sequence

        Response contains a map of the provided list of Contact Ids related to their individual result.'
      operationId: addContactsToCampaignSequence
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: sequence_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactsToSequenceRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddContactsToSequenceResponse'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v2/campaigns:
    get:
      tags:
      - Campaign
      summary: List Campaigns
      description: Retrieves a list of campaigns for the authenticated user
      operationId: listCampaigns
      parameters:
      - name: filter
        in: query
        description: 'Filter to apply, allowed fields are:

          - (String) `name`


          You will need to apply the `==` operator to check the equality of the filter with your searched

          text, in the encoded form `%3D%3D`.

          The search will look for the text anywhere in the campaign name.

          - `filter=name%3D%3DSpring Campaign`

          - `filter=name%3D%3DTag New Contacts`

          '
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        description: Page token
        required: false
        schema:
          type: string
      - name: order_by
        in: query
        description: 'Attribute and direction to order items.

          One of the following fields:

          - `name`

          - `publisheddate`

          - `id`

          - `completedContactCount`

          - `activeContacts`

          - `datecreated`

          - `lastupdated`


          One of the following directions:

          - `asc`

          - `desc`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Total number of items to return per page
        required: false
        schema:
          type: integer
          format: int32
          maximum: 1000
          minimum: 0
        example: 0
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignsResponse'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v2/campaigns/{campaign_id}:
    get:
      tags:
      - Campaign
      summary: Retrieve a Campaign
      description: Retrieves a single campaign
      operationId: getCampaign
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign_2'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v2/campaigns/{campaign_id}/sequences:
    get:
      tags:
      - Campaign
      summary: Retrieve a list of Sequences for a Campaign
      description: Retrieves a list of Sequences (published) for a Campaign
      operationId: getCampaignSequences
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignSequenceResponse'
    servers:
    - url: https://api.infusionsoft.com/crm
  /rest/v2/campaigns/{campaign_id}/goals:
    get:
      tags:
      - Campaign
      summary: Retrieve a list of Goals for a Campaign
      description: Retrieves a list of Goals (published) for a Campaign
      operationId: getCampaignGoals
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignGoalsResponse'
    servers:
    - url: https://api.infusionsoft.com/crm
components:
  schemas:
    Item:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum:
          - 'NULL'
          - Start
          - Wait
          - DelayTimer
          - ContactTimer
          - DateTimer
          - AppointmentTimer
          - Email
          - BardEmail
          - UnlayerEmail
          - EmailConfirm
          - Voice
          - Fax
          - Letter
          - AutomatedSms
          - UnlayerEmailConfirm
          - Tag
          - Opportunity
          - Note
          - Task
          - CompleteTasks
          - Appointment
          - AssignOwner
          - FieldValue
          - Fulfillment
          - CreateOrder
          - Deal
          - AddToSequence
          - CancelSubscription
          - MoveOpportunity
          - Http
          - CustomerHub
          - HttpRequest
          - IntegrationAction
          - ActionSet
        next_item_id:
          type: integer
          format: int64
        previous_item_id:
          type: integer
          format: int64
    SequencePath:
      type: object
      properties:
        id:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
    DefaultHttpStatusCode:
      allOf:
      - $ref: '#/components/schemas/HttpStatusCode'
    CampaignQueryCommand:
      type: object
      properties:
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        search_text:
          type: string
        order:
          type: string
          enum:
          - id
          - name
          - published_date
          - completed_contact_count
          - active_contact_count
          - date_created
          - last_updated
          - category
          - status
        order_direction:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
        stats:
          type: boolean
    SetOfIds:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int64
          properties:
            empty:
              type: boolean
          uniqueItems: true
      required:
      - ids
    GoalEventResultDTO:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        campaign_id:
          type: integer
          format: int64
        goal_id:
          type: integer
          format: int64
    Campaign:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        locked:
          type: boolean
        goals:
          type: array
          items:
            $ref: '#/components/schemas/Goal'
        sequences:
          type: array
          items:
            $ref: '#/components/schemas/Sequence'
        date_created:
          type: string
          format: date-time
        published_date:
          type: string
          format: date-time
        published_status:
          type: boolean
        error_message:
          type: string
        time_zone:
          type: string
        published_time_zone:
          type: string
        created_by_global_id:
          type: integer
          format: int64
    View:
      type: object
      properties:
        contentType:
          type: string
    AchieveApiGoalEvent:
      type: object
      properties:
        contact_id:
          type: integer
          format: int64
      required:
      - contact_id
    ModelAndView:
      type: object
      properties:
        view:
          $ref: '#/components/schemas/View'
        model:
          type: object
          additionalProperties: {}
        status:
          oneOf:
          - $ref: '#/components/schemas/DefaultHttpStatusCode'
          - $ref: '#/components/schemas/HttpStatus'
        modelMap:
          type: object
          additionalProperties: {}
          properties:
            empty:
              type: boolean
        reference:
          type: boolean
        empty:
          type: boolean
        viewName:
          type: string
    Sequence:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        paths:
          type: array
          items:
            $ref: '#/components/schemas/SequencePath'
        active_contact_count:
          type: integer
          format: int32
        active_contact_count_completed:
          type: integer
          format: int32
        historical_contact_count:
          $ref: '#/components/schemas/HistoricalCounts'
    Goal:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum:
          - WebForm
          - LandingPage
          - Survey
          - LinkClick
          - EmailOpened
          - Score
          - Purchase
          - FailedPurchase
          - Quote
          - WebsiteTrigger
          - InternalForm
          - SmartForm
          - AppointmentEvent
          - Task
          - StageMove
          - Note
          - Tag
          - PipelineStageMove
          - UnlayerLandingPage
          - GroSocial
          - TwitterForm
          - API
          - WordPress
          - NewLandingPage
          - IntegrationTrigger
        historical_contact_counts:
          $ref: '#/components/schemas/HistoricalCounts'
        next_sequence_ids:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
        previous_sequence_ids:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
    CampaignWithStats:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        locked:
          type: boolean
        goals:
          type: array
          items:
            $ref: '#/components/schemas/Goal'
        sequences:
          type: array
          items:
            $ref: '#/components/schemas/Sequence'
        date_created:
          type: string
          format: date-time
        published_date:
          type: string
          format: date-time
        published_status:
          type: boolean
        error_message:
          type: string
        time_zone:
          type: string
        published_time_zone:
          type: string
        created_by_global_id:
          type: integer
          format: int64
        active_contact_count:
          type: integer
          format: int32
        completed_contact_count:
          type: integer
          format: int32
    CampaignList:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
    HttpStatus:
      allOf:
      - $ref: '#/components/schemas/HttpStatusCode'
      enum:
      - 100 CONTINUE
      - 101 SWITCHING_PROTOCOLS
      - 102 PROCESSING
      - 103 EARLY_HINTS
      - 200 OK
      - 201 CREATED
      - 202 ACCEPTED
      - 203 NON_AUTHORITATIVE_INFORMATION
      - 204 NO_CONTENT
      - 205 RESET_CONTENT
      - 206 PARTIAL_CONTENT
      - 207 MULTI_STATUS
      - 208 ALREADY_REPORTED
      - 226 IM_USED
      - 300 MULTIPLE_CHOICES
      - 301 MOVED_PERMANENTLY
      - 302 FOUND
      - 303 SEE_OTHER
      - 304 NOT_MODIFIED
      - 307 TEMPORARY_REDIRECT
      - 308 PERMANENT_REDIRECT
      - 400 BAD_REQUEST
      - 401 UNAUTHORIZED
      - 402 PAYMENT_REQUIRED
      - 403 FORBIDDEN
      - 404 NOT_FOUND
      - 405 METHOD_NOT_ALLOWED
      - 406 NOT_ACCEPTABLE
      - 407 PROXY_AUTHENTICATION_REQUIRED
      - 408 REQUEST_TIMEOUT
      - 409 CONFLICT
      - 410 GONE
      - 411 LENGTH_REQUIRED
      - 412 PRECONDITION_FAILED
      - 413 CONTENT_TOO_LARGE
      - 413 PAYLOAD_TOO_LARGE
      - 414 URI_TOO_LONG
      - 415 UNSUPPORTED_MEDIA_TYPE
      - 416 REQUESTED_RANGE_NOT_SATISFIABLE
      - 417 EXPECTATION_FAILED
      - 418 I_AM_A_TEAPOT
      - 421 MISDIRECTED_REQUEST
      - 422 UNPROCESSABLE_CONTENT
      - 422 UNPROCESSABLE_ENTITY
      - 423 LOCKED
      - 424 FAILED_DEPENDENCY
      - 425 TOO_EARLY
      - 426 UPGRADE_REQUIRED
      - 428 PRECONDITION_REQUIRED
      - 429 TOO_MANY_REQUESTS
      - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
      - 451 UNAVAILABLE_FOR_LEGAL_REASONS
      - 500 INTERNAL_SERVER_ERROR
      - 501 NOT_IMPLEMENTED
      - 502 BAD_GATEWAY
      - 503 SERVICE_UNAVAILABLE
      - 504 GATEWAY_TIMEOUT
      - 505 HTTP_VERSION_NOT_SUPPORTED
      - 506 VARIANT_ALSO_NEGOTIATES
      - 507 INSUFFICIENT_STORAGE
      - 508 LOOP_DETECTED
      - 509 BANDWIDTH_LIMIT_EXCEEDED
      - 510 NOT_EXTENDED
      - 511 NETWORK_AUTHENTICATION_REQUIRED
    HttpStatusCode:
      type: object
      properties:
        error:
          type: boolean
        is1xxInformational:
          type: boolean
        is2xxSuccessful:
          type: boolean
        is3xxRedirection:
          type: boolean
        is4xxClientError:
          type: boolean
        is5xxServerError:
          type: boolean
    HistoricalCounts:
      type: object
      properties:
        24_hours:
          type: integer
          format: int32
        30_days:
          type: integer
          format: int32
    Item_2:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the item
          example: 101
        name:
          type: string
          description: The name of the item
          example: Send Welcome Email
        type:
          type: string
          description: The type of flow item
          enum:
          - Start
          - Wait
          - DelayTimer
          - ContactTimer
          - DateTimer
          - AppointmentTimer
          - Email
          - BardEmail
          - UnlayerEmail
          - EmailConfirm
          - Voice
          - Fax
          - Letter
          - AutomatedSms
          - UnlayerEmailConfirm
          - Tag
          - Opportunity
          - Note
          - Task
          - CompleteTasks
          - Appointment
          - AssignOwner
          - FieldValue
          - Fulfillment
          - CreateOrder
          - Deal
          - AddToSequence
          - CancelSubscription
          - MoveOpportunity
          - Http
          - CustomerHub
          - HttpRequest
          - IntegrationAction
          - ActionSet
          example: Email
        next_item_id:
          type: string
          description: The ID of the next item in the sequence
          example: 102
        previous_item_id:
          type: string
          description: The ID of the previous item in the sequence
          example: 100
    SequencePath_2:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the sequence path
          example: 201
        items:
          type: array
          description: List of items in this sequence path
          items:
            $ref: '#/components/schemas/Item_2'
    RemoveContactsFromSequenceRequest:
      type: object
      properties:
        contact_ids:
          type: array
          description: List of contact IDs to remove from the sequence
          example:
          - '123'
          - '456'
          - '789'
          items:
            type: string
      required:
      - contact_ids
    AddContactsToSequenceResponse:
      type: object
      properties:
        add_to_sequence_results:
          type: object
          additionalProperties:
            type: string
            enum:
            - SUCCESS
            - ALREADY_IN_SEQUENCE
            - CONTACT_DOES_NOT_EXIST
            - FAILED
          description: A map containing the contact ID as key and the result of adding them to the sequence as value
    ErrorDetails:
      type: object
      properties:
        domain:
          type: string
        resource:
          type: string
    Campaign_2:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the campaign
          example: 123
        name:
          type: string
          description: The name of the campaign
          example: Summer Sale Campaign
        locked:
          type: boolean
          description: Whether the campaign is locked for editing
          example: false
        date_created:
          type: string
          format: date-time
          description: The date and time when the campaign was created. In ISO-8601 format
          example: '2024-05-21T14:30:00Z'
        published_date:
          type: string
          format: date-time
          description: The date and time when the campaign was published. In ISO-8601 format
          example: '2024-05-21T14:30:00Z'
        published_status:
          type: boolean
          description: Whether the campaign is published
          example: true
        error_message:
          type: string
          description: Error message if the campaign has issues
          example: Invalid sequence configuration
        time_zone:
          type: string
          description: The timezone of the campaign
          example: America/New_York
        published_time_zone:
          type: string
          description: The timezone used when the campaign was published
          example: America/New_York
        created_by_global_id:
          type: string
          description: The global ID of the user who created the campaign
          example: user_abc123
        active_contact_count:
          type: integer
          format: int32
          description: Number of contacts currently active in this campaign
          example: 250
        completed_contact_count:
          type: integer
          format: int32
          description: Number of contacts who have completed this campaign
          example: 1500
    ListCampaignSequenceResponse:
      type: object
      properties:
        sequences:
          type: array
          items:
            $ref: '#/components/schemas/Sequence_2'
        next_page_token:
          type: string
        campaign_id:
          type: string
    Goal_2:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the goal
          example: 789
        name:
          type: string
          description: The name of the goal
          example: Form Submission
        type:
          type: string
          description: The type of goal
          enum:
          - WebForm
          - LandingPage
          - Survey
          - LinkClick
          - EmailOpened
          - Score
          - Purchase
          - FailedPurchase
          - Quote
          - WebsiteTrigger
          - InternalForm
          - SmartForm
          - AppointmentEvent
          - Task
          - StageMove
          - Note
          - Tag
          - PipelineStageMove
          - UnlayerLandingPage
          - GroSocial
          - TwitterForm
          - API
          - WordPress
          - NewLandingPage
          - IntegrationTrigger
          example: WebForm
        historical_contact_counts:
          $ref: '#/components/schemas/HistoricalCounts_2'
          description: Historical contact counts for this goal
        next_sequence_ids:
          type: array
          description: IDs of sequences that follow this goal
          example:
          - '101'
          - '102'
          items:
            type: string
          uniqueItems: true
        previous_sequence_ids:
          type: array
          description: IDs of sequences that precede this goal
          example:
          - '99'
          - '100'
          items:
            type: string
          uniqueItems: true
    Sequence_2:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the sequence
          example: 456
        name:
          type: string
          description: The name of the sequence
          example: Welcome Series
        paths:
          type: array
          description: List of paths in this sequence
          items:
            $ref: '#/components/schemas/SequencePath_2'
        active_contact_count:
          type: integer
          format: int32
          description: Number of contacts currently in this sequence
          example: 75
        active_contact_count_completed:
          type: integer
          format: int32
          description: Number of contacts who have completed this sequence
          example: 500
        historical_contact_count:
          $ref: '#/components/schemas/HistoricalCounts_2'
          description: Historical contact counts for this sequence
    RemoveContactsFromSequenceResponse:
      type: object
      properties:
        remove_from_sequence_results:
          type: object
          additionalProperties:
            type: string
            enum:
            - SUCCESS
            - CONTACT_DOES_NOT_EXIST
            - FAILED
          description: A map containing the contact ID as key and the result of removing them from the sequence as value
    AddContactsToSequenceRequest:
      type: object
      properties:
        contact_ids:
          type: array
          description: List of contact IDs to add to the sequence
          example:
          - '123'
          - '456'
          - '789'
          items:
            type: string
      required:
      - contact_ids
    HistoricalCounts_2:
      type: object
      properties:
        24_hours:
          type: integer
          format: int32
          description: Number of contacts in the last 24 hours
          example: 50
        30_days:
          type: integer
          format: int32
          description: Number of contacts in the last 30 days
          example: 1200
    ListCampaignsResponse:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign_2'
        next_page_token:
          type: string
    ListCampaignGoalsResponse:
      type: object
      properties:
        goals:
          type: array
          items:
            $ref: '#/components/schemas/Goal_2'
        next_page_token:
          type: string
        campaign_id:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        status:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetails'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
          scopes: {}
x-refined-from:
- keap-v1-openapi.json
- keap-v2-openapi.json
