openapi: 3.1.0
info:
  title: Keap REST Campaigns Tags API
  description: 'Curated OpenAPI 3.1 description of the Keap (formerly Infusionsoft) REST v2 API.

    Covers a representative subset of contacts, companies, opportunities, orders,

    products, tasks, campaigns, and tags. Derived from the official Keap v2 OpenAPI

    document published at https://developer.infusionsoft.com/docs/restv2/ which is

    served by the api.infusionsoft.com host.

    '
  version: 2.70.0
  contact:
    name: Keap
    url: https://developer.keap.com/get-support/
    email: api@keap.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.infusionsoft.com/crm/rest
  description: Keap production REST API
security:
- oauth2: []
tags:
- name: Tags
  description: Manage tags and tag categories.
paths:
  /v2/tags:
    get:
      tags:
      - Tags
      summary: List tags
      operationId: listTags
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: A page of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
    post:
      tags:
      - Tags
      summary: Create a tag
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '201':
          description: Tag created.
  /v2/tags/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Tags
      summary: Get a tag
      operationId: getTag
      responses:
        '200':
          description: Tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
components:
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    PageToken:
      name: page_token
      in: query
      required: false
      schema:
        type: string
    PageSize:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
  schemas:
    Tag:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
    TagList:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        next_page_token:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Keap uses OAuth 2.0 for authentication. See https://developer.infusionsoft.com/getting-started-oauth-keys/
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
          scopes:
            full: Full access to the Keap CRM REST API.
