openapi: 3.2.0
info:
  title: SLA Display Forms API
  description: Service Level Aggregation API (SLAAPI) to handle public API spec compliance
  contact:
    name: Gryffindor
    email: gryffindor@keap.com
  version: v1
servers:
- url: https://api.infusionsoft.com
tags:
- name: Display Forms
paths:
  /v2/pipelines/{id}/form:
    get:
      tags:
      - Display Forms
      summary: Retrieves a specific display form by a pipeline ID
      description: Retrieves a specific display form by a pipeline ID.
      operationId: getPipelineDisplayForm
      parameters:
      - name: id
        in: path
        description: the ID of the pipeline containing the form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: the requested Deal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayForm'
    patch:
      tags:
      - Display Forms
      summary: Updates a display form
      operationId: updatePipelineDisplayForm
      parameters:
      - name: id
        in: path
        description: the ID of the pipeline containing the form
        required: true
        schema:
          type: string
      requestBody:
        description: the request body containing updated display form details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDisplayFormRequest'
        required: true
      responses:
        '200':
          description: the updated DisplayForm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayForm'
components:
  schemas:
    PipelineCustomFieldOptions:
      required:
      - display_type
      - groups
      type: object
      properties:
        default_option_id:
          type:
          - string
          - 'null'
          description: The default option ID for the custom field.
        display_type:
          description: The display type of the custom field options. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldOptionDisplayType'
        option_source:
          description: The source of the custom field options. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldRefType'
        groups:
          type: array
          description: The list of custom field option groups.
          items:
            $ref: '#/components/schemas/PipelineCustomFieldOptionGroup'
      description: Class representing the options for a custom field.
    PipelineCustomFieldArrayPropertyType:
      required:
      - list_type
      type: object
      properties:
        list_type:
          description: The type of the list contained in the array property. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldType'
      description: Class representing the type of an array property in a custom field.
    DisplayForm:
      type: object
      properties:
        groups:
          type: array
          description: Groups of properties to display on the form.
          items:
            $ref: '#/components/schemas/DisplayGroup'
      description: A display form for a sales pipeline
    PipelineCustomFieldArrayDisplayOptions:
      required:
      - item_options
      - sortable
      type: object
      properties:
        sortable:
          type: boolean
          description: Indicates if the array is sortable.
        item_options:
          description: Display options for the items in the array. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDisplayOptions'
      description: Class representing display options for an array custom field.
    PipelineCustomFieldRefType:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
          description: The category of the custom field reference type.
        name:
          type:
          - string
          - 'null'
          description: The name of the custom field reference type.
      description: Class representing a reference type for custom fields.
    PipelineCustomFieldBooleanDisplayOptions:
      required:
      - display_type
      type: object
      properties:
        display_type:
          description: The display type for the boolean custom field. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldBooleanDisplayType'
      description: Class representing display options for a boolean custom field.
    PipelineCustomFieldCardProperty:
      type: object
      properties:
        property_name:
          type:
          - string
          - 'null'
          description: The name of the property.
        styles:
          type:
          - array
          - 'null'
          description: The display styles associated with the property.
          items:
            $ref: '#/components/schemas/PipelineCustomFieldDisplayStyle'
      description: Class representing a property of a card custom field.
    PipelineCustomFieldBooleanDisplayType:
      type: string
      description: Enum representing the display types for a boolean custom field.
      enum:
      - RADIO
      - CHECKBOX
      - TOGGLE
      - TOGGLE_BUTTON
    UpdateDisplayGroupRequest:
      required:
      - properties
      - title
      type: object
      properties:
        sort_order:
          type: integer
          description: Determines the order for where this display group shows up on the form.
          format: int32
        title:
          type: string
          description: The title of the display group.
        description:
          type: string
          description: The description of the display group.
        properties:
          type: array
          description: A list of properties that will be displayed in this group.
          items:
            $ref: '#/components/schemas/UpdateDisplayPropertyRequest'
    PipelineCustomFieldOption:
      required:
      - id
      - sort_order
      - subtitle
      - title
      type: object
      properties:
        id:
          type: string
          description: The identifier of the custom field option.
        title:
          type: string
          description: The title of the custom field option.
        subtitle:
          type: string
          description: The subtitle of the custom field option.
        sort_order:
          type: integer
          description: The sort order of the custom field option.
          format: int32
      description: Class representing an option for a custom field.
    PipelineCustomField:
      required:
      - default_value
      - id
      type: object
      properties:
        id:
          type: string
          description: The identifier of the custom field.
        name:
          type:
          - string
          - 'null'
          description: The name of the custom field. This field is optional.
        type:
          description: The type of the custom field. This field is optional and must be a valid PipelineCustomFieldType.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldType'
          - description: ''
        label:
          type:
          - string
          - 'null'
          description: The label of the custom field. This field is optional.
        description:
          type:
          - string
          - 'null'
          description: The description of the custom field. This field is optional.
        helper_text:
          type:
          - string
          - 'null'
          description: The helper text for the custom field. This field is optional and is serialized to JSON as "helper_text".
        default_value:
          type:
          - object
          - 'null'
          description: The default value of the custom field. This field is optional and must be a valid Object.
        validators:
          type:
          - array
          - 'null'
          description: The list of validators for the custom field. This field is optional and must be a list of valid PipelineCustomFieldPropertyValidator.
          items:
            $ref: '#/components/schemas/PipelineCustomFieldPropertyValidator'
        display_options:
          description: The display options for the custom field. This field is optional and must be a valid DisplayOptions.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDisplayOptions'
          - description: ''
        options:
          description: The options for the custom field. This field is optional and must be a valid PipelineCustomFieldOptions.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldOptions'
          - description: ''
      description: Represents a custom field in the system. This class extends the BaseModel and includes various properties related to custom fields.
    PipelineCustomFieldSizeValidator:
      required:
      - size
      - size_type
      type: object
      properties:
        size_type:
          description: The type of size validation for the custom field. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldSizeValidationType'
        size:
          type: integer
          description: The size value for the custom field.
          format: int32
      description: Class representing a size validator for custom fields.
    PipelineCustomFieldType:
      required:
      - discriminator
      - primitive_type
      type: object
      properties:
        primitive_type:
          description: The base primitive type of the custom field. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldPrimitiveType'
        discriminator:
          description: The discriminator for the model property type. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldModelPropertyTypeDiscriminator'
        array:
          description: The array property type of the custom field. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldArrayPropertyType'
        ref:
          description: The reference property type of the custom field. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldRefPropertyType'
      description: Class representing a custom field type.
    DisplayProperty:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the display property.
        property:
          description: The custom field that defines this display property.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomField'
        source:
          description: The source of the display property.
          allOf:
          - $ref: '#/components/schemas/DisplayPropertySource'
        system_field_record:
          type: string
          description: Represents the domain (e.g., pipeline, contact) that this display property belongs to.
        system_field_id:
          type: string
          description: Represents the identifier of the system field that is in that displayProperty. The source of this field will depend on the domain (e. g., "dealName" in pipelines)
        label:
          type: string
          description: The label to display on this property to help users identify it
        description:
          type: string
          description: Documentation that explains the purpose of this property
        helper_text:
          type: string
          description: More detailed explanation of the property to be shown if a user requests more information about it
        default_value:
          description: The value of this property if a value is not explicitly provided
        display_options:
          description: Allowed values for this property
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDisplayOptions'
      description: A property for a group inside a display form
    UpdateDisplayFormRequest:
      required:
      - groups
      type: object
      properties:
        groups:
          type: array
          description: Groups of properties to display on the form.
          items:
            $ref: '#/components/schemas/UpdateDisplayGroupRequest'
    PipelineCustomFieldSizeValidationType:
      type: string
      description: Enum representing the types of size validation for custom fields.
      enum:
      - MIN
      - MAX
    PipelineCustomFieldRefDisplayType:
      type: string
      description: Enum representing the display types for a reference custom field.
      enum:
      - CARD
      - DROPDOWN
    PipelineCustomFieldRefDisplayOptions:
      type: object
      properties:
        hidden:
          type:
          - boolean
          - 'null'
          description: Indicates whether the reference custom field is hidden.
        card_options:
          description: The card display options for the reference custom field. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldCardDisplayOptions'
        title_property:
          type:
          - string
          - 'null'
          description: The title property for the reference custom field.
        description_property:
          type:
          - string
          - 'null'
          description: The description property for the reference custom field.
        reference_display_type:
          description: The display type for the reference custom field. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldRefDisplayType'
        empty_state:
          description: The empty state content for the reference custom field. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldEmptyStateContent'
        component_name:
          type:
          - string
          - 'null'
          description: The component name for the reference custom field.
      description: Class representing the display options for a reference custom field.
    DisplayGroup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the display group.
        sort_order:
          type: integer
          description: Determines the order for where this display group shows up on the form.
          format: int32
        title:
          type: string
          description: The title of the display group.
        description:
          type: string
          description: The description of the display group.
        properties:
          type: array
          description: A list of properties that will be displayed in this group.
          items:
            $ref: '#/components/schemas/DisplayProperty'
      description: A group of properties on a display form
    PipelineCustomFieldRefPropertyType:
      required:
      - reference_type
      type: object
      properties:
        reference_type:
          description: The reference type for the custom field. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldRefType'
        fields:
          type:
          - array
          - 'null'
          description: The list of fields for the reference custom field.
          items:
            type: string
      description: Class representing the property type for a reference custom field.
    PipelineCustomFieldPropertyValidator:
      required:
      - required
      - size
      type: object
      properties:
        size:
          description: The size validator for the custom field. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldSizeValidator'
        required:
          type: boolean
          description: Indicates whether the custom field is required.
      description: Class representing a validator for custom field properties.
    PipelineCustomFieldDurationDisplayOptions:
      type: object
      properties:
        duration_units:
          type: array
          description: The list of duration units for the custom field. This field is optional.
          items:
            $ref: '#/components/schemas/PipelineCustomFieldDurationOptionsDurationUnit'
      description: Class representing display options for a custom field with duration type.
    PipelineCustomFieldPrimitiveType:
      type: string
      description: Enum representing various primitive types for custom fields.
      enum:
      - ARRAY
      - BOOLEAN
      - CURRENCY
      - DATE
      - FLEXI_DATE
      - DATETIME
      - DAY_OF_WEEK
      - DECIMAL
      - DURATION
      - EMAIL
      - INTEGER
      - LONG_TEXT
      - MONTH
      - NAME
      - NUMBER
      - OBJECT
      - PERCENT
      - PHONE
      - REF
      - SEMVER
      - TEXT
      - TIME
      - URL
      - YEAR
    PipelineCustomFieldDisplayStyle:
      type: string
      description: Enum representing the display styles for custom fields.
      enum:
      - QUOTE
      - BOLD
      - ALIGN_END
      - ITALIC
      - LARGE
      - MEDIUM
      - SMALL
      - XS
      - CENTER
      - HYPHENATED
      - LABELED
    PipelineCustomFieldModelPropertyTypeDiscriminator:
      type: string
      description: Enum representing the types of model property type discriminators.
      enum:
      - SIMPLE
      - REF
      - ARRAY
    PipelineCustomFieldEmptyStateContent:
      required:
      - description
      - title
      type: object
      properties:
        title:
          type: array
          description: The list of titles for the empty state.
          items:
            type: string
        description:
          type: array
          description: The list of descriptions for the empty state.
          items:
            type: string
      description: Class representing the content for an empty state in custom fields.
    PipelineCustomFieldDisplayOptions:
      required:
      - hidden
      - type
      type: object
      properties:
        type:
          description: The type of display options. This field is required.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDisplayOptionsType'
        hidden:
          type: boolean
          description: Indicates whether the custom field is hidden.
        array_display_options:
          description: The display options for array type custom fields. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldArrayDisplayOptions'
        reference_type_display_options:
          description: The display options for reference type custom fields. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldRefDisplayOptions'
        date_time_display_options:
          description: The display options for date and time type custom fields. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDateTimeOptions'
        boolean_display_options:
          description: The display options for boolean type custom fields. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldBooleanDisplayOptions'
        duration:
          description: The display options for duration type custom fields. This field is optional.
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDurationDisplayOptions'
      description: Class representing display options for a custom field.
    DisplayPropertySource:
      type: string
      description: Enum representing the source of a display property.
      enum:
      - SYSTEM
      - CUSTOM
    PipelineCustomFieldDateTimeOptions:
      type: object
      properties:
        allow_past_dates:
          type:
          - boolean
          - 'null'
          description: Indicates whether past dates are allowed.
        allow_future_dates:
          type:
          - boolean
          - 'null'
          description: Indicates whether future dates are allowed.
      description: Class representing options for date and time custom fields.
    PipelineCustomFieldCardDisplayOptions:
      type: object
      properties:
        card_properties:
          type:
          - array
          - 'null'
          description: The properties of the card custom field.
          items:
            $ref: '#/components/schemas/PipelineCustomFieldCardProperty'
      description: Class representing display options for a card custom field.
    PipelineCustomFieldOptionGroup:
      required:
      - options
      - sort_order
      type: object
      properties:
        header:
          type:
          - string
          - 'null'
          description: The header of the custom field option group.
        options:
          type: array
          description: The list of custom field options in the group.
          items:
            $ref: '#/components/schemas/PipelineCustomFieldOption'
        sort_order:
          type: integer
          description: The sort order of the custom field option group.
          format: int32
      description: Class representing a group of custom field options.
    PipelineCustomFieldDurationOptionsDurationUnit:
      type: string
      description: Enum representing the duration units for custom fields.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - MONTHS
      - YEARS
    UpdateDisplayPropertyRequest:
      required:
      - source
      type: object
      properties:
        sort_order:
          type: integer
          description: Determines the order for where this display property shows up on the group.
          format: int32
        id:
          type: string
          description: Identifies the custom field that is tied to this display property.
        source:
          description: Indicates whether this display property is a system or custom field.
          allOf:
          - $ref: '#/components/schemas/DisplayPropertySource'
        system_field_record:
          type: string
          description: Represents the domain (e.g., pipeline, contact) that this display property belongs to.
        system_field_id:
          type: string
          description: Represents the identifier of the system field that is in that displayProperty. The source of this field will depend on the domain (e. g., "dealName" in pipelines)
        label:
          type: string
          description: The label to display on this property to help users identify it
        description:
          type: string
          description: Documentation that explains the purpose of this property
        helper_text:
          type: string
          description: More detailed explanation of the property to be shown if a user requests more information about it
        default_value:
          description: The value of this property if a value is not explicitly provided
        display_options:
          description: Allowed values for this property
          allOf:
          - $ref: '#/components/schemas/PipelineCustomFieldDisplayOptions'
    PipelineCustomFieldOptionDisplayType:
      type: string
      description: Enum representing the display types for custom field options.
      enum:
      - DROPDOWN
      - RADIO
      - CHECKBOX
    PipelineCustomFieldDisplayOptionsType:
      type: string
      description: Enum representing the types of display options for custom fields.
      enum:
      - ARRAY
      - BOOLEAN
      - DATE_TIME
      - DEFAULT
      - DURATION
      - REF
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: jwt
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
          scopes:
            api: General API access
