openapi: 3.2.0
info:
  title: Keap Business Profile API
  description: Keap Public API Documentation
  termsOfService: https://www.thryv.com/terms-of-use
  contact:
    name: Keap
    url: https://developer.keap.com/get-support
    email: api.keap@thryv.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v2
servers:
- url: https://api.infusionsoft.com/crm
security:
- oauth2: []
tags:
- name: Business Profile
paths:
  /rest/v2/businessProfile:
    get:
      tags:
      - Business Profile
      summary: Retrieve Business Profile
      description: Retrieves Business Profile information.
      operationId: getBusinessProfile
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessProfileResponse'
    patch:
      tags:
      - Business Profile
      summary: Update Business Profile
      description: Updates Business Profile information.
      operationId: updateBusinessProfile
      parameters:
      - name: update_mask
        in: query
        description: An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - email
            - website
            - phone
            - address
            - currency_code
            - business_goals
            - business_primary_color
            - business_secondary_color
          uniqueItems: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessProfileRequest'
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessProfileResponse'
components:
  schemas:
    UpdateBusinessProfileRequest:
      type: object
      description: businessProfile
      properties:
        name:
          type: string
        email:
          type: string
        website:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/BusinessProfileAddressRequest'
        currency_code:
          type: string
          description: ISO 4217 Currency Code
          example: USD
        business_goals:
          type: array
          description: The goals of this business, ie. Grow Business, Convert more leads
          items:
            type: string
        business_primary_color:
          type: string
        business_secondary_color:
          type: string
    ErrorDetails:
      type: object
      properties:
        domain:
          type: string
        resource:
          type: string
    BusinessProfileAddressResponse:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        locality:
          type: string
          description: The municipality to which the address belongs
          example: Phoenix
        region:
          type: string
          description: The long-name descriptive version of the Region Code
          example: Arizona
        country_code:
          type: string
          description: An ISO 3166-1 Country Code (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)
          example: USA
        postal_code:
          type: string
    BusinessProfileAddressRequest:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        locality:
          type: string
          description: The municipality to which the address belongs
          example: Phoenix
        region:
          type: string
          description: The long-name descriptive version of the Region Code
          example: Arizona
        country_code:
          type: string
          description: An ISO 3166-1 Country Code (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)
          example: USA
        postal_code:
          type: string
      required:
      - country_code
      - line1
      - line2
      - locality
      - postal_code
      - region
    GetBusinessProfileResponse:
      type: object
      description: Profile information about the business that owns/uses this account
      properties:
        name:
          type: string
        email:
          type: string
        website:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/BusinessProfileAddressResponse'
        time_zone:
          type: string
        logo_url:
          type: string
        currency_code:
          type: string
          description: ISO 4217 Currency Code
          example: USD
        language_tag:
          type: string
        business_type:
          type: string
          description: The type of business
        business_goals:
          type: array
          description: The goals of this business, ie. Grow Business, Convert more leads
          items:
            type: string
        business_primary_color:
          type: string
        business_secondary_color:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        status:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetails'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
          scopes: {}
